* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none; 
}


.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
    linear-gradient(to bottom, rgb(0, 0, 0, 0.9), rgba(0, 0, 0, 0) 200px),
    url('perfumewebbg.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -200; 
}


/* Sidebar hidden by default */
.sidebar {
    visibility: hidden;
    position: fixed;
    top: -100%; /* Start off-screen at the top */
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3); /* Fullscreen background */
    backdrop-filter: blur(7px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: top 0.4s ease;
}
/* Sidebar visible */
.sidebar.active {
    visibility: visible;
    opacity: 1;
    top: 0; /* Slide into view */
    transition: top 0.4s ease; /* Smooth transition */
}

header {
    display: flex;
    align-items: center; /* Align items (logo and nav) vertically */
    justify-content: space-between; /* Space between logo and nav */
    padding: 0px 0px 0px 20px; /* Adjust padding as needed */
    height: auto;
}

header nav {
    padding: 50px 0px 0px 0px;
}

header a:first-child {
    z-index: 999;
}

.hometext {
    width: 40%;
    font-size: clamp(1rem, 2vw, 1.5rem);
    text-transform: uppercase;
    letter-spacing: 2.5px;
    word-spacing: 5px;
    color: #ffffff;
    position: absolute;
    top: 42%; 
    left: 30%; 
    transform: translate(-50%, -50%);
    z-index: 2; 
    line-height: 1.4;
}

#main-navigation {
    display: flex;
    align-items: center; /* Align nav items vertically */
    flex-grow: 1; /* Take up remaining space */
    justify-content: center; /* Align nav items to the right */
    font-weight: bold;
    z-index: 2;
}

#main-navigation ul {
    display: flex;
    gap: 15px; /* Spacing between nav links */
    list-style: none;
    margin: 0;
    padding: 0;
}

#main-navigation li a {
    font-size: 1.4rem;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s ease;
    text-decoration: none;
    text-transform: uppercase;
}

#main-navigation li a:hover {
    background-color: rgba(255, 255, 255, 0.2); 
}



.text-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    font-family: 'Playfair Display', serif;

    /* Centering */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
}

.background-image {
    width: 1000px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    border: 5px solid #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
}

#searchBox {
    width: 98%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    margin: 20px 0px 5px 0px;
    border-radius: 5px;
}

#blendSearchBox {
    width: 98%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    border-radius: 5px;
}

#materialsList {
    list-style-type: none;
    display: block;
}



.material-item {
    margin-bottom: 10px;
}

.material-header {
    background-color: #f6f6f6; /* Make headers semi-transparent */
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
}

.material-header:hover {
    background-color: #d1d1d1;
    cursor: pointer;
}

.material-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease-in-out;
    background-color: rgba(122, 122, 122, 0.15);
    border-radius: 8px;
    margin: 0px 10px 10px 10px;
}

.material-item.active .material-content {
    max-height: 1000px; /* Adjust to fit the content */
    display: block;
}


.material-content img {
    max-width: 500px;
    float: left;
    border-radius: 10px;
    margin: 10px 15px 10px 10px;
}

.material-content p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;

}

.textmargin {
    margin: 10px 15px 5px 15px;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 18vh 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    flex-direction: column;
}

.materials {
    width: 60%; /* Set desired width as a percentage of the viewport width */ /* Optional: Set a max-width to avoid excessive stretching on larger screens */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    pointer-events: auto;
    margin: 10px;
    position: relative;
    z-index: 120;
    
}

.materials h1 {
    margin: 0 0 3px 0;
    font-size: 35px;
    font-family: 'Playfair Display', serif;
}

#addMaterialButton a {
    font-size: 1.15rem;
    color: #ffffff;
    padding: 5px 10px;
    border: 2px solid #ffffff;
    border-radius: 50px;
    transition: background 0.3s ease;
    text-decoration: none;
    text-transform: uppercase;
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.7);
    text-shadow: 0px 4px 15px black;
    letter-spacing: 2px;
    word-spacing: 6px;
}

#addMaterialButton {
    margin: 0 0 20px 0;
}

#addMaterialButton a:hover {
    background-color: rgba(0, 0, 0, 0.3); 
}

/* Styling the form within .materials container */
#newMaterialForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#newMaterialForm label {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #333;
}

#newMaterialForm input[type="text"],
#newMaterialForm input[type="url"],
#newMaterialForm textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 15px;
}

#newMaterialForm textarea {
    resize: vertical; /* Allow vertical resize only */
    min-height: 80px; /* Set a comfortable height */
}

#newMaterialForm button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #ffffff;
    background-color: #333;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

#newMaterialForm button:hover {
    background-color: #555;
}

#newMaterialForm select#materialType {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    appearance: none; /* Removes default styling for dropdowns in some browsers */
    margin-bottom: 15px;
    margin-top: 8px;
}

#newMaterialForm select#materialType:focus {
    outline: none;
    border-color: #333;
}

#material-inputs {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

#material-select, #percentage-input, #gram-input, #batch-size {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
}

#add-material {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    font-size: 1rem;
    background-color: #333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#add-material:hover {
    background-color: #555;
}

/* Center and style the Add Another Material button similarly to the Naturals page */
#addMaterialButton {
    text-align: center;
    margin: 20px;
}

#addMaterialButton a {
    font-size: 1.15rem;
    color: #ffffff;
    padding: 8px 16px;
    border: 2px solid #ffffff;
    border-radius: 50px;
    transition: background 0.3s ease;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.7);
    text-shadow: 0px 4px 15px black;
    letter-spacing: 2px;
}

#addMaterialButton a:hover {
    background-color: rgba(0, 0, 0, 0.3); 
}



/* Form fields styling adjustments */
.materials label {
    font-size: 1.4rem;
    color: #000000;
    display: inline-block;
    
}

.materials input[type="text"],
.materials input[type="number"] {
    font-size: 1rem;
    padding: 8px;
    width: 98%;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.95);
    color: #333;
}

.materials button {
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
    display: flex;
    position: relative;
    margin-left: 2.5vh;
}

.materials button:hover {
    background-color: #555;
}

/* Style the progress bar */
.progress-bar {
    width: 99%;
    background-color: rgb(0, 0, 0, 0.1);
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 20px;
}

.progress {
    height: 100%;
    transition: width 0.3s ease;
}

.progress.green { background-color: #76c7c0; }
.progress.max-green { background-color: #4CAF50; }
.progress.red { background-color: #ff4d4d; }

/* Styling the percentage meter */
.percentage-meter {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Lora', serif; 
}

/* Style the material list */
.material-list {
    width: 96%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 5px 20px 20px 20px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.8);
}

.material-list div {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    text-align: center;
    color: black;
    border-radius: 4px;
    font-family: 'Lora', serif; 
    font-size: 1.0555555em; 
    color: #333;
}


.material-list button {
    background-color: transparent;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 2px 6px;
    font-size: 0.9em;
    cursor: pointer;
    color: #333;
    justify-content: center;
}

.material-list button:hover {
    background-color: #555;
    color: #ccc;
}

.material-list button:focus {
    outline: none;
    border-color: #555;
}

#ingredientCount {
    font-family: 'Lora', serif; 
    padding: 5px;
    font-size: 15px;
}

.material-content ul li {
    display: flex; /* Allows items to align horizontally */
    flex-wrap: wrap; /* Ensures items wrap within the available width */
    margin: 10px 0px 5px 0px; /* Adds space between list items */
    gap: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17.5px;
}


.material-content ul li strong {
    font-weight: bold;
    margin-right: 4px; 
    margin-left: 35px;
}

.material-content ul {
    margin-bottom: 15px;
    
}

.attribute-pair {
    display: flex;
    gap: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17.5px;
    margin-right: 20px;
}



.formulamargin {
    margin: 10px 15px 5px 15px;
}

.formula-date {
    font-size: 0.8em;
    color: #555;
    margin-left: 20px;
    justify-content: center;
}

.item-count, .cost-count {
    font-size: 1em;
    color: #555;
    font-family: 'Source Sans Pro', sans-serif;
}

.item-count {
    margin-bottom: 3px;
}

.gotop {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    pointer-events: auto;
    z-index: 1;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #333;
    font-size: 22px;
    border-radius: 25px;
    border: 3px solid #333;
    transition: background-color 1s ease;
}

.gotop:hover {
    color: #ccc;
    border: 3px solid #ccc;
}

.logo-icon {
    position: absolute;
    width: 80px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    fill: white; /* Set logo color to white */
    left: 10vh;
}

.logo-icon:hover {
    opacity: 0.5;
}

#logo {
    display: flex;
    top: 500px;
    left: 100px;
}


#hamburger-menu {
    display: none;
}



.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .hamRotate.active {
    transform: rotate(45deg);
  }

  .hamRotate180.active {
    transform: rotate(180deg);
  }

  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:rgb(255, 255, 255, 0.9);
    stroke-width:5.5;
    stroke-linecap:round;
  }

  .ham4 .top {
    stroke-dasharray: 40 121;
  }

  .ham4 .bottom {
    stroke-dasharray: 40 121;
  }

  .ham4.active .top {
    stroke-dashoffset: -68px;
  }

  .ham4.active .bottom {
    stroke-dashoffset: -68px;
  }


/* Adjust styles for screens narrower than 480px (mobile) */
@media (max-width: 480px) {
    
    

    .material-content ul li {
        display: block;
        justify-content: center;
        margin-bottom: 25px;
        font-size: 14px;
        margin-bottom: 5px;
    }

    
}

@media (max-width: 800px) {
    .attribute-pair {
        font-size: 14px;
    }

    .material-content .attribute-pair:not(:first-child) {
        margin-left: 20px;
    }
    
    #searchBox {
        display: flex;
        width: 93%;
        margin-bottom: 10px;
    }

    #blendSearchBox {
        display: flex;
        width: 93%;
    }

    .progress-bar {
        width: 100%;
    }

    .materials label {
        font-size: 18px;
        
    }
    .percentage-meter {
        font-size: 15px;
    }

    .material-list div {
        font-size: 14px;
        align-items: center;
        text-align: left;
        padding: 5px;
    }
    
    .material-list {
        width: 99.5%;
        padding: 5px;
    }

    .materials button {
        margin-bottom: 10px;
        margin-top: 0px;   
    }

    .overlay-container {
        top: 5vh;
    }

    .sidebar {
        width: 100%;
    }
    
    .sidebar a {
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
    }

    .logo-icon {
        left: 5vh;
        top: 6vh;
        width: 70px;
    }

    #hamburger-menu {
        position: absolute;
        right: 5vh;
        top: 5vh;
        display: flex;
    }

    #hamburger-close {
        position: fixed;
        transform: translateY(-41vh);
        right: 40px;
    }

    .hideOnMobile {
        display: none; /* Hide menu items */
    }  

    .background-image {
        width: 100%; /* Adjust image to fit within screen */
        height: auto;
    }

    #main-navigation {
        justify-content: flex-start; /* Align nav to the left */
    }
    
    #main-navigation ul {
        flex-direction: column; /* Stack navigation links vertically */
        gap: 40px;
    }

    #main-navigation li a:hover {
        background-color: transparent; 
    }


    .text-container {
        position: absolute; /* Resets positioning */
        top: auto;       /* Remove top positioning */
        left: auto;      /* Remove left positioning */
        transform: none;
        margin: 5%; /* Add padding to avoid edge clipping */
        margin-top: 20vh;
    }

    .materials {
        width: 80%;
    }

    .material-content p {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
    }
    .material-content img {
        max-width: 80%; /* Ensure images fit within container */
        float: none; /* Remove float for better stacking */
        margin: auto;
        display: block;
    }

    .material-header {
        font-size: 16px; /* Adjust header font size */
    }

    #addMaterialButton {
        display: none;
    }

    .gotop:hover {
        color: #333; /* Reset to default color */
        border: 3px solid #333; /* Reset to default border */
    }

    .materials h1 {
        font-size: 24px;
    }

    .material-item.active .material-content {
        max-height: 10000px; /* Adjust to fit the content */
        display: block;
    }
}
   

